<html>
    <head>
        <title>Ozymandias geming</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">            
    </head>
    <body>
        <div class="container">
            <h1 class="title"><p class="p2"> <<<<< Image Compression >>>>></p></h1>
            <div class="file-uploader">
                <h2 class="p2"><u>Select an image to upload</u></h2>
                <p class="p2">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>

                <form method="post" action="/" enctype="multipart/form-data">
                    <dl>
                        <p class="p2">
                            <input type="file" name="file" autocomplete="off" required>
                        </p>
                    </dl>
                    <label for="compressRate" class="p2">Image Compression Rate: </label><br>
                    <div class="slider">


                        <input type="text" id="compressRate" name="compressRate" size="1" maxLength="3">
                        <p class="p2">%</p>

                    </div>
                    <p class="p2">
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
            {% if filename %}
            <div class="image-box">
                
                <div class="imgresult">
                    <h2 class="p2">Before</h2>
                    
                        <img style="width:300px;height:200px;" src="{{ url_for('display_image', filename=filename) }}">
                    
                    <h2></h2>
                </div>
                
                <div class="imgresult">
                    <h2 class = "p2">After</h2>
                        <img style="width:300px;height:200px;" src="{{ url_for('display_image_compressed', filename=filename) }}">
                    
                </div>
            </div>
            <div class="rate-info">
                <div>
                    <p>Image pixel difference percentage: {{pxldiff}}%</p>
                    <p>Image compression time : {{runtime}} seconds</p>
                </div>
                <a href="{{ url_for('display_image_compressed', filename=filename) }}" download>Download di sini</a>
            </div>
            {% endif %}
        </div>
    </body>
    
</html>